html
    head
        
        title BSIT 3-3 
        link(rel="stylesheet" href="/bulma/bulma.css")
        link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css")

    block body